.glassContainer {
    background: black;
    backdrop-filter: blur(12px);
    box-shadow:
        inset 0 1px 4px rgba(255, 255, 255, 0.2),
        0 4px 20px rgba(0, 0, 0, 0.2);
    border-left: 0.5px solid white;
    display: flex;
    transition: all 0.3s ease;
    color: 'white';
    opacity: 0.3
}